<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0" />
<META HTTP-EQUIV="Pragma" CONTENT="no-cache"> 
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache"> 
<META HTTP-EQUIV="Expires" CONTENT="0">
<title>手机淘宝店首页</title>
<script src="js/jquery1.8.3.js"></script>
<script src="js/rem.js"></script>
<!-- <script src="js/swiper.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/swiper.min.css"> -->
<link rel="stylesheet" type="text/css" href="css/style.css" />
<script src="js/browser.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/base.js" type="application/javascript"></script>
</head>

<body>
<div id="app">
<div class="maincontent" >
	<div class="shop">
		<a href="./second.html">
			<img src="images/top.jpg">
		</a>
	</div>
	<div class="copyWeixin">
		<a href="./second.html" v-if="bannerData&&bannerData[0]"><img :src="bannerData[0].img[0]['url']"></a>
		<div id="copy" v-if="weixinCopy&&weixinCopy[0]">
			<input type="button" onClick="copyUrl2()" value="点击复制微信号" />
			<a id="weixinhao">{{weixinCopy[0].title}}</a>

		</div>
	</div>
	<div class="qianggou">
		<div class="time">
			<h2 v-if="productData1&&productData1[0]">{{productData1[0].menu.name}}</h2>
		</div>
		<ul>
			<li v-for="item in productData1">
			<a href="./second.html"><img :src="item.img[0]['url']"><span>{{item.title}}</span></a><p class="price">￥{{item.description}}<span>￥{{item.keywords}}</span></p><a class="buy" href="./second.html">立即购买</a></li>
		</ul>
	</div>

	<div class="qianggou">
		<div class="time">
			<h2  v-if="productData2&&productData2[0]">{{productData2[0].menu.name}}</h2>
		</div>
		<ul>
			<li v-for="item in productData2">
			<a href="./second.html"><img :src="item.img[0]['url']"><span>{{item.title}}</span></a><p class="price">￥{{item.description}}<span>￥{{item.keywords}}</span></p><a class="buy" href="./second.html">立即购买</a></li>
			
		</ul>
	</div>
	<div class="qianggou">
		<div class="time">
			<h2  v-if="productData3&&productData3[0]">{{productData3[0].menu.name}}</h2>
		</div>
		<ul>
			<li v-for="item in productData3">
			<a href="./second.html"><img :src="item.img[0]['url']"><span>{{item.title}}</span></a><p class="price">￥{{item.description}}<span>￥{{item.keywords}}</span></p><a class="buy" href="./second.html">立即购买</a></li>
			
		</ul>
	</div>
	<div class="qianggou">
		<div class="time">
			<h2  v-if="productData4&&productData4[0]">{{productData4[0].menu.name}}</h2>
		</div>
		<ul>
			<li v-for="item in productData4">
			<a href="./second.html"><img :src="item.img[0]['url']"><span>{{item.title}}</span></a><p class="price">￥{{item.description}}<span>￥{{item.keywords}}</span></p><a class="buy" href="./second.html">立即购买</a></li>
			
		</ul>
	</div>
	<div class="qianggou">
		<div class="time">
			<h2  v-if="productData5&&productData5[0]">{{productData5[0].menu.name}}</h2>
		</div>
		<ul>
			<li v-for="item in productData5">
			<a href="./second.html"><img :src="item.img[0]['url']"><span>{{item.title}}</span></a><p class="price">￥{{item.description}}<span>￥{{item.keywords}}</span></p><a class="buy" href="./second.html" >立即购买</a></li>
			
		</ul>
	</div>
	<div class="gonggao" id="noteY">
		<h3>店铺公告</h3>
		<p>1.本次优惠活动只面向<span>微信客户</span></p>
		<p>2.请添加官方活动微信号进行下单及售后服务</p>
		<p>3.<span>支持到货付款</span>，验货满意再付款，7天无理由退换货</p>
		<p>4.本活动最终结束权属手机淘宝首页所有</p>
		<div id="copy" v-if="weixinCopy&&weixinCopy[0]">
			<input type="button" onClick="copyUrl2()" value="点击复制微信号" />
			<a id="weixinhao">{{weixinCopy[0].title}}</a>

		</div>
	
	</div>

	<div class="shopName">
		手机淘宝店铺首页
	</div>

	<div class="footer">
		<ul v-if="weixinCopy&&weixinCopy[0]">
			<li><a href="index.html"><img src="images/footer_1.jpg"></a><p>{{weixinCopy[0].description}}</p></li>
			<li><a href="second.html"><img src="images/footer_4.jpg"></a><p>{{weixinCopy[0].keywords}}</p></li>
			<li><a href="second.html"><img src="images/footer_5.jpg"></a><p>{{weixinCopy[0].contactPhone}}</p></li>
		</ul>
	</div>
	
	
	
</div>
</div>
<script type="text/babel">
			
			var app = new Vue({
				el: '#app',
				data: function() {
					return {
						bannerData:[],
						productData1: [],
						productData2: [],
						productData3: [],
						productData4: [],
						productData5: [],
						weixinCopy:[],
						paginate: {
							
							count: 0,
							currentPage: 1,
							pagesize: 6,
							is_page: true,
						},
						searchItem:{
							
						},
						pageArray:[],
						allPages:0,
						linkPage:'',
					}

				},
				
				created: function () {

					this.getBannerData();
				    this.getProductData1();
				    this.getProductData2();
					this.getProductData3();
				    this.getProductData4();
				    this.getProductData5();
				    this.getWeixinCopy();
				},
				methods:{

					getBannerData() {
						var self = this;
						
						var postData = {
						    count: 0,
						    currentPage: 1,
						    is_page: true,
						    pagesize:1,
						    searchItem:{
								thirdapp_id:26,
								menu_id:343
							}
					    };

						var callback = (res)=>{
							self.bannerData = res.data;
						};
						window.base.articleList(postData,callback);
					},
					
					getProductData1() {
						var self = this;
						
						var postData = {
						    count: 0,
						    currentPage: 1,
						    pagesize:6,
						    is_page:true,
						    searchItem:{
								thirdapp_id:26,
								menu_id:334
							}
					    };

						var callback = (res)=>{
							self.productData1 = res.data;
						};
						window.base.articleList(postData,callback);
					},

					getProductData2() {
						var self = this;
						
						var postData = {
						    count: 0,
						    currentPage: 1,
						    pagesize:6,
						    is_page:true,
						    searchItem:{
								thirdapp_id:26,
								menu_id:336
							}
					    };

						var callback = (res)=>{
							self.productData2 = res.data;
						};
						window.base.articleList(postData,callback);
					},

					getProductData3() {
						var self = this;
						
						var postData = {
						    count: 0,
						    currentPage: 1,
						    pagesize:6,
						    is_page:true,
						    searchItem:{
								thirdapp_id:26,
								menu_id:337
							}
					    };

						var callback = (res)=>{
							self.productData3 = res.data;
						};
						window.base.articleList(postData,callback);
					},

					getProductData4() {
						var self = this;
						
						var postData = {
						    count: 0,
						    currentPage: 1,
						    pagesize:6,
						    is_page:true,
						    searchItem:{
								thirdapp_id:26,
								menu_id:340
							}
					    };

						var callback = (res)=>{
							self.productData4 = res.data;
						};
						window.base.articleList(postData,callback);
					},

					getProductData5() {
						var self = this;
						
						var postData = {
						    count: 0,
						    currentPage: 1,
						    pagesize:6,
						    is_page:true,
						    searchItem:{
								thirdapp_id:26,
								menu_id:341
							}
					    };

						var callback = (res)=>{
							self.productData5 = res.data;
						};
						window.base.articleList(postData,callback);
					},

					getWeixinCopy() {
						var self = this;
						
						var postData = {
						    count: 0,
						    currentPage: 1,
						    pagesize:6,
						    is_page:true,
						    searchItem:{
								thirdapp_id:26,
								menu_id:342
							}
					    };

						var callback = (res)=>{
							self.weixinCopy = res.data;
						};
						window.base.articleList(postData,callback);
					},

					

				}
			});
			
		</script>
<script>

	function copyUrl2()
    {
        var Url2=document.getElementById("weixinhao").innerText;
        var oInput = document.createElement('input');
        oInput.value = Url2;
        document.body.appendChild(oInput);
        oInput.select(); // 选择对象
        document.execCommand("Copy"); // 执行浏览器复制命令
        oInput.className = 'oInput';
        oInput.style.display='none';
        alert('复制成功');
    }
</script>
</body>
</html>
